.main {
  .slider {
    &-img {
      max-height: 340px;
    }
    &-text {
      padding: 0;
      font-size: 20px;
      bottom: 20px;
      right: 20px;

      &-promo {
        &-b {
          font-size: 72px;
        }
      }
    }

    &-title {
      padding: 0 10px 0;
      font-size: 13px;
    }

    .title {
      font-size: 16px;
    }

    .swiper-pagination-bullet {
      margin: 0 5px;
      width: 15px;
      height: 15px;
    }
  }

  .slide {
    &-img {
      object-fit: cover;
      min-height: 340px;
    }
  }
}

.footer {
  &__container {
    flex-direction: column;
  }

  &-block {
    width: 85%;
    &__logo {
      align-items: center;
    }

    &:last-child {
      flex-direction: column;
      align-items: flex-start;
    }
  }



  &__tel {
    font-size: 14px;

    &-desc {
      font-size: 10px;
    }
  }

  &-list {
    margin-top: 15px;
    &__item {
      font-size: 10px;
    }
  }
}
