html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

.flex {
  display: flex;
}
