.footer {
  padding: 105px 0;

  &__phone {
    display: flex;
    flex-direction: column;
  }

  &__tel {
    font-size: 28px;
    line-height: 100%;

    &-desc {
      margin-top: 5px;
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
    }
  }

  &__link {
    &-img {
      max-width: 106px;
      max-height: 46px;

      use {
        transform: scale(1.5);
      }
    }
  }

  &-block {
    display: flex;
    width: 50%;

    &:last-child {
      justify-content: space-between;
      padding-right: 11px;
    }
  }

  &-list {
    &__item {
      font-size: 14px;
      text-transform: uppercase;

      &:not(:first-child) {
        margin-top: 18px;
      }
    }

    &:last-child {
      .footer__link-prod {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          right: -12px;
          top: 1px;
          width: 7px;
          height: 7px;
          border-right: 1px solid var(--color-black);
          border-top: 1px solid var(--color-black);
        }

        &:after {
          position: absolute;
          content: "";
          right: -8px;
          top: 1px;
          width: 1px;
          height: 10px;
          background: var(--color-black);
          transform: rotate(45deg);
        }
      }
    }
  }
}
